/.idea
/api/__pycache__
/api/parsing/__pycache__
/api/dataset/__pycache__
/api/model/__pycache__
/api/trainer/__pycache__
data/AMS/distance.csv
data/AMS/duration.csv
/example/result
api/trash.py
/api/federated/__pycache__
/api/config/__pycache__
/test
data/CHARGED.zip
